@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);

  --font-family: "Manrope", sans-serif;

  --border-radius: 15px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: red 1px solid; */
  font-family: var(--font-family);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--light-grayish-blue);
}

main {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  width: 100%;
  max-width: 800px;
  margin: 2rem;
  background-color: white;
  border-radius: var(--border-radius);
}

.image-container {
  height: 100%;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top left;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.content {
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
}

.content-header {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.content-header h1 {
  font-size: 1.3rem;
  color: var(--very-dark-grayish-blue);
}

.content-header p {
  color: var(--very-dark-grayish-blue);
  font-size: 0.9rem;
}

.author {
  display: grid;
  grid-template-columns: 1fr auto;
}

.avatar-container {
  width: fit-content;
}

.author img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.author-details {
  width: fit-content;
}

.author-details {
  grid-column: 1;
}

.author-details-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.author-details h2 {
  width: fit-content;
  font-size: 1rem;
  color: var(--very-dark-grayish-blue);
}

.author-details p {
  width: fit-content;
  font-size: 0.9rem;
  color: var(--grayish-blue);
}

.share-container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2;
}

.share-button {
  border-radius: 50%;
  background-color: var(--light-grayish-blue);
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}

.share-button img {
  width: 100%;
  height: 100%;
  overflow: visible;
}
